
.parent{
    position:absolute;
    top:20%;
    width: 100%;
    height: 100%;
    background-color: #282c34;
}
.table{
    /* margin-left: 10%; */
    max-width: 70%;
}
  .v15 {
    color: #ffffff;
    font-family: Revalia;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
  }
  